@import "hue.scss";
@import "titlebar.scss";
@import "bottombar.scss";
@import "sidebar.scss";
@import "lrcSection.scss";
@font-face {
    font-family: "Huawen Hupo";
    src: url("../fonts/huawen_hupo.woff2");
}

body {
    background: #FFF;
    margin: 0;
    font-family: "Microsoft Yahei", "ping fang";
}

.app-window {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}