@import "hue.scss";
.app-window__titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $title_bar_height;
    background: #fff; // display: inline-flex;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    box-shadow: $titlebar_shadow 0px 0px 16px 16px;
    z-index: 100;
    .titlebar-control,
    .titlebar-secondary {
        height: 100%;
        -webkit-app-region: no-drag;
        float: right;
        margin: {
            right: $title_bar_height/8;
        }
        .titlebar-control__button {
            width: $title_bar_button_size;
            height: $title_bar_button_size;
            margin: {
                // to centerize these buttons
                top: ($title_bar_height - $title_bar_button_size)/2;
                bottom: ($title_bar_height - $title_bar_button_size)/2;
                left: $title_bar_height/16;
                right: $title_bar_height/16;
            }
            border-radius: 50%;
            border: #eee;
            color: #D1D1D1;
            background: #fff;
            font-size: 20px;
            padding: 0 4px;
            line-height: $title_bar_button_size;
            box-shadow: #e7e6ff88 0px 8px 12px 0px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            .titlebar-control__button--min {
                width: 8px;
                height: 2px;
                padding: 0 2px;
                border-radius: 2px;
                background: #d1d1d1;
            }
            .titlebar-control__button--max {
                width: 8px;
                height: 4px;
                padding: 0;
                border: #d1d1d1 2px solid;
                border-radius: 2px;
            }
            .titlebar-control__button--exit {
                padding: 0; //border: #d1d1d1 2px solid;
                border-radius: 2px;
                position: relative;
                &:before {
                    content: '';
                    width: 9.3px;
                    height: 2px;
                    border-radius: 2px;
                    background: #d1d1d1;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%)rotate(45deg);
                }
                &:after {
                    content: '';
                    width: 9.3px;
                    height: 2px;
                    border-radius: 2px;
                    background: #d1d1d1;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
    .app-icon {
        float: left;
        font-family: "Huawen Hupo";
        line-height: $title_bar_height;
        margin: 0;
        padding-left: 24px;
        background: linear-gradient(30deg, rgba(172, 184, 253, 1) 0%, rgba(187, 217, 250, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}