.app-window__titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    box-shadow: #f6f7fd 0px 0px 16px 16px;
    z-index: 100;
}

.app-window__titlebar .titlebar-control,
.app-window__titlebar .titlebar-secondary {
    height: 100%;
    -webkit-app-region: no-drag;
    float: right;
    margin-right: 7.5px;
}

.app-window__titlebar .titlebar-control .titlebar-control__button,
.app-window__titlebar .titlebar-secondary .titlebar-control__button {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3.75px;
    margin-right: 3.75px;
    border-radius: 50%;
    border: #eee;
    color: #D1D1D1;
    background: #fff;
    font-size: 20px;
    padding: 0;
    line-height: 20px;
    box-shadow: #e7e6ff88 0px 8px 12px 0px;
}

.app-window__titlebar .titlebar-control .titlebar-control__button:focus,
.app-window__titlebar .titlebar-secondary .titlebar-control__button:focus {
    outline: none;
}

.app-window__titlebar .app-icon {
    float: left;
    font-family: "Huawen Hupo";
    line-height: 60px;
    margin: 0;
    padding-left: 24px;
    background: linear-gradient(30deg, #acb8fd 0%, #bbd9fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-window__bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    background-color: white;
    box-shadow: #f6f7fd 0px 0px 16px 16px;
}

.app-window__bottombar .bottombar-control__controller {
    margin: 0 auto;
    width: 16%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-window__bottombar .bottombar-control__controller button {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
    width: 45px;
    height: 45px;
    margin: 0 11px;
}

.app-window__bottombar .bottombar-control__controller button img {
    vertical-align: middle;
    cursor: pointer;
}

.app-window__bottombar .bottombar-control__controller .bottombar-control__button--pauseOrPlay {
    box-shadow: 0 12px 300px 10px #a9b2fd;
    border-radius: 50%;
}

.app-window__bottombar .bottombar-control__timebar {
    width: 60%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-window__bottombar .bottombar-control__timebar span {
    display: inline-block;
    width: 10%;
    font-size: 14px;
    padding: auto 3.5px;
    text-align: center;
}

.app-window__bottombar .bottombar-control__timebar .timebar-time__progressbar {
    width: 80%;
    display: flex;
    vertical-align: central;
    height: 6px;
    cursor: pointer;
}

.app-window__bottombar .bottombar-control__timebar .timebar-time__progressbar .progressbar-current {
    background: -webkit-gradient(linear, left top, right top, from(#a9b2fd), to(#bad8fa));
    border-radius: 3px;
}

.app-window__bottombar .bottombar-control__timebar .timebar-time__progressbar .progressbar-whole {
    height: 6px;
    border-radius: 3px;
    background-color: #F0F0F0;
    position: absolute;
    z-index: -1;
    width: 48vw;
}

.app-window__bottombar .bottombar-control__volume {
    width: 16%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-window__bottombar .bottombar-control__volume .volume-icon {
    width: 20%;
}

.app-window__bottombar .bottombar-control__volume .volume-icon img {
    width: 14px;
    height: 14px;
    vertical-align: center;
}

.app-window__bottombar .bottombar-control__volume .volume-louder {
    width: 80%;
    display: flex;
    vertical-align: central;
    height: 6px;
    cursor: pointer;
}

.app-window__bottombar .bottombar-control__volume .volume-louder .volume-louder__current {
    background: -webkit-gradient(linear, left top, right top, from(#a9b2fd), to(#bad8fa));
    border-radius: 3px;
}

.app-window__bottombar .bottombar-control__volume .volume-louder .volume-louder__whole {
    height: 6px;
    border-radius: 3px;
    background-color: #F0F0F0;
    position: absolute;
    z-index: -1;
    width: 12.8vw;
}

.app-window__bottombar .bottombar-control__playmode {
    width: 8%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-window__bottombar .bottombar-control__playmode img {
    width: 14px;
    height: 14px;
    vertical-align: center;
    cursor: pointer;
}

.app-content {
    height: calc(100% - 120px);
    margin-top: 60px;
    overflow: hidden;
    width: 100%;
}

.app-content__section {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 20px;
    background: #eee;
}

.app-content__sidebar {
    position: relative;
    height: 100%;
    width: 200px;
    background: #fff;
    /* margin-left: -8px; */
    box-shadow: #f6f7fd 0px 0px 16px 16px;
    user-select: none;
    float: left;
}

.app-content__sidebar .sidebar-content__list {
    text-align: center;
    padding: 0;
}

.app-content__sidebar .sidebar-content__list .sidebar-content__item {
    list-style-type: none;
    font-size: 16px;
    line-height: 48px;
    color: #B1B1B1;
    transition: all .5s ease-in-out;
}

.app-content__sidebar .sidebar-content__list .sidebar-content__item:hover {
    background: linear-gradient(30deg, #acb8fd 0%, #bbd9fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-content__sidebar .sidebar-resizer {
    width: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #00000000;
    transition: background .25s ease-out;
}

.app-content__sidebar .sidebar-resizer:hover {
    background: #00000005;
    cursor: col-resize;
}

@font-face {
    font-family: "Huawen Hupo";
    src: url("../fonts/huawen_hupo.woff2");
}

body {
    background: #FFF;
    margin: 0;
    font-family: "Microsoft Yahei", "ping fang";
}

.app-window {
    position: absolute;
    width: 100vw;
    height: 100vh;
}